<form id="edit-post-form" class="post-form">
        <br/>
        <input type="text" id="edit-author" class="author-input" name="author" placeholder="Enter author" value= <%= author %> required><br/><br/>
        <textarea name="content" class="content-input" required> <%= content %> </textarea><br/><br/>
        <button class="submit-button" type="submit">Edit Post</button>
        <button id="edit-post-cancel-button" class="cancel-button material-symbols-outlined">close</button>
</form>